// MAIN
body{
  width: 100%;
}
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }
  // SECTION 0
  .section0 {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    background: url(/imgs/Background-1.png);
    background-size: cover;
    position: relative;
    height: 639px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    z-index: 0;
  }
  
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1C1C1C;
    opacity: 0.7;
  }
  
  // Content LEFT side
  .content0{
    color: #FFFFFF ;
    max-width: 651px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 1;
  }
  .content0 h1{
    width: 425px;
    font-size: 36px;
  }
  
  .content0 img{
    height: 108px;
    width: 247px;
  }
  
  .content0 button {
    height: 42px;
    width: 135px;
    background: transparent;
    border: 3px solid white;
    color: white;
  }
  
  .content0 button:hover{
    cursor: pointer;
  }
  // Content RIGHT side
  

  .form {
    width: 360px;
    height: 425px;
    background-color: #FFFFFF;
    color: #1C1C1C;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
  }
  form {
    height: 100%;
    display: flex;
    line-height: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  form input text{
    height: 30px;
  }
  .form-head{
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .form-head span{
    color: #E27866;
  }
  
  .form .subscription{
    font-size: 18px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #41D395;
    border-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
  // SOCIAL MEDIA
  .social-1{
    margin: auto;
    width: 100%;
    max-height: 105px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .social-1 p {
    color: #86878B;
    font-size: 14px;
    max-width: 304px;
  }
  
  .content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .icons{
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .icons i{
    size: 2xs;
    color: #E27866;
  }
  
  .icons i:hover{
    cursor: pointer;
    transform: scale(115%);
  }

  
  // SECTION 1 "Tabs with soft transitioning effect. Explained propriety of out perpetual his you."
  .section1 {
    margin: auto;
    width: 100%;
    background: url(/imgs/Background-2.png);
    background-position-y:center;
    background-size: cover;
    height: 639px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }

  .s1-overlay{
    height: 100%;
    background: linear-gradient(to RIGHT#6696E2 #E27866);
  }

  .s1-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  .s1-buttons button:hover{
    cursor: pointer;
    background: #E27866;
  }
  
  .s1-buttons span{
    transform: rotate(-45deg);
  }

  .section1 button {
    width: 100px;
    height: 100px;
    background: #A37169;
    color: #FFFFFF;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .s1-tabs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 520px;
    color: white;
  }
  .s1-tabs h1{
    font-size: 36px;
  }
  .s1-tabs p{
    font-size: 14px;
  }

  .s1-images {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s1-images .top{
    display: flex;
    flex-direction: row;
  }
  // SECTION 2 "Erat tempor tempus erat malesuada"
  .section2 {
    margin: auto;
    width: 100%;
    background: #1C1C1C;
    height: 596px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .section2 .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2 .content2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  // SECTION 3  "WHY THIS IS AWESOME"
  
  .section3 {
    margin: auto;
    width: 100%;
    height: 592px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .section3-intro{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  }
  .section3 h1{
    font-size: 36px;
  }
  
  .section3-icons{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
  
  .section3 p{
    color: grey;
    text-align: center;
    font-size: 14px;
    width: 240px;
  }

  .icon{
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .icon i{
    color: #E27866;
    width: 50px;
    height: 50px;
    border: 1px solid #E27866 ;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  // SECTION 4 "PRICING OPTIONS"
  .section4{
    padding: 100px;
    width: 100%;
    height: 883px;
    background: #6696E2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content4 {
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .plans{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: justify;
    list-style: none;
  }
  .plan {
    background: white;
    width: 343px;
    text-align: center;
    border-radius:10px;
  }
  .plan-head{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background: #1C1C1C;
    color: #FFFFFF;
    font-weight: 300;
  }
  .plan h2{
    height: 60px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
  }
  .plan h1{
    padding: 20px;
    font-size: 96px;
    font-weight: 500;
  }
  .plan h1 span{
    font-size: 40px;
  }
  .plan p{
    padding: 10px;
  }
  
  .plan li{
    line-height: 40px;
  }
  .most{
    background: #41D395;
    color: #F5F5F5;
    line-height: 40px ;
  }

  // SECTION 5 "TESTIMONIAL"
  .section5 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 591px;
    background: #FFFFFF ;
  }
  .content5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .testimonial{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
 
  .person p{
    margin: 20px;
    position: relative;
    width: 280px;
    padding: 20px;
    background:#6696E2;
    color: #F5F5F5;
    border-radius: 10px;
  }
  .person img{
    margin: auto;
    float: left;
  }
  .person p::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #6696E2 transparent;
    border-width: 16px 18px 0;
    bottom: -16px;
    left: 20%;
    margin-left: -18px;
 }
  // SECTION 6 "CONTACT US"
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #E27866;
    height: 575px;
  }
  .section6-head {
  color: #FFFFFF;
  width: 390px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  }
  .form2{
    background: #FFFFFF;
    height: 314px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border-radius: 5px;
  }
  .input-text {
  height: 120px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: #1C1C1C;
  }
  input #checkbox{
    border-radius: 100%;
  }

  .form2 .subscription{
  height: 50px;
  width: 160px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background: #41D395;
  color: #F5F5F5;
  margin-bottom: 30px; ;
  }

