@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

@import 'nav';
@import 'main';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
@media (max-width: 1250px){
  #burger {
    display:block;
    display:flex;
    
  }
  #burger:hover{
    cursor: pointer;
  }
  .nav-main a{
    display: none;
  }
}

@media (max-width: 500px){
  
}